@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .font-script {
        font-family: 'Brush Script MT', cursive;
    }
}
:root {
  --font-sans: 'GeistSans', sans-serif;
  --font-mono: 'GeistMono', monospace;
}

/* Tailwind 工具類對應 */
.font-sans { font-family: var(--font-sans); }
.font-mono { font-family: var(--font-mono); }